# [Core Contributors]
#
# People below are responsible for the entire project.
# Those people can be considered project owners, they are responsible for managing the roadmap, preparing releases,
# handling security issue, answering questions, fixing bugs but also working on new features.
* @norberttech

# [Mantainers]
#
# People below are responsible for project maintenance.
